@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/*------RESET------*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*------HEADER------*/

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav {
    background-color: rgb(200, 200, 204);
}

/*------MAIN-----*/

.hero {
    background-image: url(../img/principio.jpeg);
    width: 100%;
    height: 80vh;
    /* background-repeat: no-repeat;  */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    transform: translate(-50, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.hero h1 {
    font-size: 65px;
    padding: 20px;
    margin: 10px;
}

.hero p {
    font-size: 2rem;
}

.complejos {
    background-color: #D5CABD;
    text-align: center;
}

.contenedorTarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.productosTarjetas {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 10px 10px -6px black;
}

.productosTarjetas img {
    width: 100%;
    height: 250px;
    border-radius: 18px;
}

.productosTarjetas h3 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.productosTarjetas a{
    color: white;
}

.boton{
    font-size: 1rem;
    display: inline-block;
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    background-color: #596359!important;
    border-radius: 5px;    
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
    box-shadow: 0px 10px 10px -6px black;
}
/*------Acercade------*/
.tarjetas {
    background-color: #D5CABD;
}

.tarjetas h1 {
    text-align: center;
}

.tarjetasComplemento {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.historia {
    margin: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 0 5px;
}

.ubicacion {
    padding: 15px;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 0 5px;
}

.mapaFlex iframe {
    width: 100%;
    height: 600px;
}

/*------Servicios------*/
.servicios {
    text-align: center;
    background-color: #D5CABD;
    padding: 10px;
}

.cartas {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cartas div img {
    width: 120px;
    height: 128px;
}

.cartas div h2 {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.cartas div {
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 220px;
    background: #f1f1f1;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.cartas div:hover {
    box-shadow: 10px 10px 0px 0px #46A2FD, 20px 20px #83C1FD, 30px 30px 14px #ACD5FD;
    transform: translate(-5px, -5px);
}

/*------Contacto------*/

.contacto{
    padding: auto;
    background-color: #D5CABD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    padding: 10px;
    display: grid;
}
/*------Galeria------*/

.galeria {
    text-align: center;
    background-color: #D5CABD;
}


.galeriaContenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}


.imagen{
    filter: drop-shadow(10px 10px 15px);
    border: 1px solid black;
    width: 350px;
    border-radius:10px;
}

.imagen img {
    width: 100%;
    height: 250px;
    border: 1px black solid;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 15px);
}

/*------FOOTER------*/

.redes {
    width: 100%;
    bottom: 0;
    background-color: rgb(45, 48, 47);
    padding: 10px;
    text-align: center;
}

.redesWeb {
    display: flex;
    justify-content: center;
}

.redesWeb img {
    width: 50px;
}

.redesWeb a {
    margin: 10px;
}

.finPag {
    text-align: center;
    color: white;
}

/*------Media Querys Gleria------*/
@media screen and (max-width: 1544px) {
    .galeriaContenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 780px) {
    .galeriaContenedor {
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }
}

/* ------Media Querys Index------*/
@media screen and (max-width: 1100px) {
    .contenedorTarjetas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 740px) {
    .contenedorTarjetas {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}